= content_for :title, 'Sign In'

- if @authentications
  - unless @authentications.empty?
    %p
      %strong You can sign in to this account using:
    .authentications
      = render :partial => 'authenticed_button', :collection => @authentications, :as => :authentication
      .clear
  %p
    %strong Add another service to sign in with:
- else
  %p
    %strong Sign in through one of these services:
%a.auth_provider{:href => "/auth/twitter"}
  = image_tag "twitter_64.png", :size => "64x64", :alt => "Twitter"
  Twitter
%a.auth_provider{:href => "/auth/facebook"}
  = image_tag "facebook_64.png", :size => "64x64", :alt => "Facebook"
  Facebook
%a.auth_provider{:href => "/auth/google_apps"}
  = image_tag "google_64.png", :size => "64x64", :alt => "Google"
  Google

.clear
