- supported_providers = [:twitter, :facebook, :linkedin]

= content_for :title, 'Authentication Grid'
%h1
  Authentication Grid


%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th User
    %th Local login

    - supported_providers.each do |provider|
      %th
        = image_tag("#{provider}_32.png")
        = link_to '(manage)', manage_your_social_app_url(provider, CREDENTIALS_STORE[provider.to_s]['app_id']), :target => '_blank'

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td.local
        - if current_user == user
          √
        - else
          = link_to 'login as..', autologin_path(:id => user.id), :class => 'btn'

      - supported_providers.each do |provider|
        %td(class=provider)
          = render :partial => 'authentication_button', :collection => user.authentications.find_all_by_provider(provider), :as => :authentication


  %tr
    %th
    %th
      - if current_user
        = link_to "logout (#{current_user.name})",    logout_path, :class => 'btn btn-warning'
  %tr
    %th{:colspan => 2}
      = link_to 'Add 1 User', new_user_path, :class => 'btn'

    - supported_providers.each do |provider|
      %th
        = link_to 'LOGIN', authorize_access_path(provider), :class => 'btn btn-primary', :title => authorize_access_path(provider)

  %tr
    %th{:colspan => 2} revoke this app access to your stuff on social networks :

    - supported_providers.each do |provider|
      %th
        = link_to 'revoke access', revoke_access_url(provider, CREDENTIALS_STORE[provider.to_s]['app_id']), :target => '_blank', :class => 'btn btn-danger'
