%h1
  Authentication Grid


%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th User
    %th Local login
    %th Twitter
    %th Facebook
    %th LinkedIn

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td
        - if current_user == user
          √
        - else
          = link_to 'login as..', autologin_path(:id => user.id), :class => 'btn'

  %tr
    %th
    %th
      - if current_user
        = link_to "logout (#{current_user.name})",    logout_path, :class => 'btn btn-warning'
  %tr
    %th{:colspan => 5}
      = link_to 'Add 1 User', new_user_path, :class => 'btn'

%div

    %th
    %th
