= content_for :title, 'Authentication Grid'
%h1
  Authentication Grid


%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th User
    %th Local login
    %th
      =image_tag('twitter_32.png')
      = link_to 'apps', "https://dev.twitter.com/apps/#{CREDENTIALS_STORE['twitter']['app_id']}/show", :target => '_blank'
    %th Facebook
    %th LinkedIn

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td.local
        - if current_user == user
          √
        - else
          = link_to 'login as..', autologin_path(:id => user.id), :class => 'btn'

      %td.twitter
        - twitter_authentications = user.authentications.find_all_by_provider('twitter')
        - if twitter_authentications.present?
          = render :partial => 'authentication_button', :collection => twitter_authentications, :as => :authentication



  %tr
    %th
    %th
      - if current_user
        = link_to "logout (#{current_user.name})",    logout_path, :class => 'btn btn-warning'
  %tr
    %th{:colspan => 2}
      = link_to 'Add 1 User', new_user_path, :class => 'btn'
    %th
      = link_to 'LOGIN', '/auth/twitter', :class => 'btn btn-primary', :title => '/auth/twitter'

  %tr
    %th{:colspan => 2} revoke this app access to your stuff on social networks :
    %th= link_to 'revoke access', 'https://twitter.com/settings/applications', :target => '_blank', :class => 'btn btn-danger'
    %th
    %th

%div

