= content_for :title, 'Authentication Grid'
%h1
  Authentication Grid


%table.table.table-bordered.table-striped.table-condensed
  %tr
    %th User
    %th Local login
    %th
      =image_tag('twitter_32.png')
      = link_to 'apps', "https://dev.twitter.com/apps/#{CREDENTIALS_STORE['twitter']['app_id']}/show", :target => '_blank'
    %th Facebook
    %th LinkedIn

  - @users.each do |user|
    %tr
      %td= link_to user.name, user
      %td
        - if current_user == user
          √
        - else
          = link_to 'login as..', autologin_path(:id => user.id), :class => 'btn'

  %tr
    %th
    %th
      - if current_user
        = link_to "logout (#{current_user.name})",    logout_path, :class => 'btn btn-warning'
  %tr
    %th{:colspan => 5}
      = link_to 'Add 1 User', new_user_path, :class => 'btn'

  %tr
    %th{:colspan => 2} User, edit your authentication settings :
    %th= link_to 'revoke access', 'https://twitter.com/settings/applications', :target => '_blank', :class => 'btn btn-danger'
    %th
    %th

%div

