-# instance var : 'authentication'
.authentication
  = image_tag "#{authentication.provider}_32.png", :size => "32x32"
  -#.provider= authentication.provider.titleize
  .provider @#{authentication.login}
  .uid= authentication.uid
  - if current_user == authentication.user
    = link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove"

  - if authentication.provider.to_sym == :twitter
    = link_to "<Check Creds>", check_twitter_credentials_path(:authentication_id => authentication.id), :class => 'btn btn-primary'
